{
    "theme":"default",
    "social-ticker":{
        "duration":2000,
        "username":{
            "twitter":"twittername",
            "instagram":"instagramname",
            "twitch":"twitchname"
        }
    },
    "twitch-chat":{
        "username":"twitchchannel",
        "timeout":10000
    }
}